body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.scrollbox {
	height:90%;
	width:90%;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;      
	font-family:Courier;
	color: #00CC00;
	background: #000000;
	border: 3px double #CCCCCC;
	padding: 10px;	
	line-height: 10px; 
}
.scrollboxhalf {
	height:50%;
	width:90%;
	border:1px solid #ccc;
	font:14px/18px Courier, Serif;
	overflow:auto;   
	font-family:Courier;
	color: #00CC00;
	background: #000000;
	border: 3px double #CCCCCC;
	padding: 10px;	
	line-height: 10px; 
}
.btn-group-vertical .btn {
	width:100%;
	margin: 0 auto;
}

canvas {
	width: 90%;
	height: 25%;
	cursor: none;
	background-color:#000;
}
#mainDisplay {
	width : 100%;
	height: 250px;
	margin : 10px;
	text-align: center;
	background: -moz-linear-gradient(top, #fff 0%, #ccc 35%, #777777 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(35%,#b5b5b5), color-stop(100%,#777777));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#777777);    
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#777777)";
	border-radius: 10px; border: 1px solid #000;
	-moz-border-radius: 10px; border: 1px solid #000;
	-webkit-border-radius: 10px; border: 1px solid #000;
	-moz-box-shadow: 0px 3px 3px #777;
	-webkit-box-shadow: 0px 3px 3px #777;
	box-shadow: 0px 3px 3px #777;
}

#bandscope {
	height : 250px;
	width : 100%;
	margin : 10px;
	text-align:center;
	background: -moz-linear-gradient(top, #fff 0%, #ccc 35%, #777777 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(35%,#b5b5b5), color-stop(100%,#777777));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#777777);    
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#777777)";
	border-radius: 10px; border: 1px solid #000;
	-moz-border-radius: 10px; border: 1px solid #000;
	-webkit-border-radius: 10px; border: 1px solid #000;
	-moz-box-shadow: 0px 3px 3px #777;
	-webkit-box-shadow: 0px 3px 3px #777;
	box-shadow: 0px 3px 3px #777;
}
.led-red.on {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #FFF 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}
.led-red.off {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #666;
    border-radius: 50%;
}
.led-green.on {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #6F0;
    border-radius: 50%;
    box-shadow: #FFF 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}
.led-green.off {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #666;
    border-radius: 50%;
}
legend {
	text-align: center;
}

.toolbox {
	margin : 10px;
	padding:5px;
	text-align:center;
	background: -moz-linear-gradient(top, #fff 0%, #ccc 35%, #777777 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(35%,#b5b5b5), color-stop(100%,#777777));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#777777);    
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4, endColorstr=#777777)";
	border-radius: 10px; border: 1px solid #000;
	-moz-border-radius: 10px; border: 1px solid #000;
	-webkit-border-radius: 10px; border: 1px solid #000;
	-moz-box-shadow: 0px 3px 3px #777;
	-webkit-box-shadow: 0px 3px 3px #777;
	box-shadow: 0px 3px 3px #777;

}